body {
    line-height: 2;
    background-color: aliceblue
}

.plot {
    background-color: yellow;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    height: 200px;
    background-image:url('~/src/img/lawn.png');
    background-repeat: repeat;
}

.road-right {
    border-right-width: 15px;
    border-right-color: gray;
}

.road-left {
    border-left-width: 15px;
    border-left-color: gray;
}

.road-top {
    border-top-width: 15px;
    border-top-color: gray;
}

.road-bottom {
    border-bottom-width: 15px;
    border-bottom-color: gray;
}

.badge {
    margin-top: 5px
}

.toolbar {
    right: 15px;
    bottom: 5px;
    position: absolute;
}

.text-center {
    text-align: center;
}

.header {
    background-color: transparent;
}

.text-left {
    text-align: left;
}

.full-width {
    width: 100%;
}

.landing {
    margin: 150px;
}